.table{ 
  display: table; 
  width: 100%;
  height: 100%;
position: absolute; top: 7%; bottom: 0; left: 0; right: 0
}
.tr-top{ 
  display: table-row; 
  height: 7%;
  background-color: white;
}
.td-top1{ 
  display: table-cell; 
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
.td-top2{ 
  display: table-cell; 
  width: 60%;
}
.td-top3{ 
  display: table-cell; 
  width: 20%;
  vertical-align: middle;
}
.tr-middle{
  display: table-row; 
  height: 35%;
  background-color: #f5f5f5;
}
.tr-bottom{ 
  border-top: 1px solid #e6e6e6;
  display: table-row; 
  height: 45%;
}
.td-11{ 
  display: table-cell; 
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
.td-21{ 
  display: table-cell; 
  width: 55%;
  vertical-align: middle;
}
.td-31{ 
  display: table-cell; 
  width: 25%;
  vertical-align: middle;
}
.td-1{ 
  display: table-cell; 
  width: 20%;
  align-items: center;
}
.td-2{ 
  display: table-cell; 
  width: 55%;
  left: 10%
}
.td-3{ 
  display: table-cell; 
  width: 25%;
  left: 3%
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
h2 {
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
  margin: 0 0 6px;
}
.h3{
    line-height: 1.28571em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}
h5{
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.h4{
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #d32323;
  margin: 0 0 6px;
}
.h6{
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.nav-link1{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #0073bb;
}

.photo-box-img{
  height : 250px;
  width: 250px;
  vertical-align: top;
}
.details-heading{
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* line-height: 1.28571em; */
  line-height: 2em;
  margin: 0 0 6px;
}
.details-info{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* line-height: 1.28571em; */
  line-height: 2em;
  margin: 0 0 6px;
}

.nav-link {
  display: block;
  padding: 12px;
  position: relative;
  text-decoration: none;
  color: #333;
  border-top: 1px solid #e6e6e6;
  -webkit-transition: background-color 200ms ease-out 50ms;
  transition: background-color 200ms ease-out 50ms;
}

.nav-link.is-active {
    background: #f5f5f5;
}
.search-class{
  padding-top: 0.25%;
  padding-bottom: 1%;
  display: flex;
  position:absolute;
  left : 20%
}
.yelp_logo{
  padding-top: 0.5%;
  vertical-align: middle;
  height: 45px;
  width: 80px;
}
.form-control {

  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 35px;
  line-height: 40px;
  width: 350px;
  -ms-flex-line-pack: center;
  align-content: center;
}
.Reviews{
  width: 90%;
  display: inline-block;
  /* border:0.25px solid rgba(194, 191, 191, 0.8); */
}
.profileLinks{
  display: block;
  padding: 12px;
  position: relative;
  background: none!important;
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #333;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.photo-box-rest{
height: 4rem;
width: 6rem
}
.reviews-header-details{
  width: 25%;
display: flex;
justify-content: space-between;
}

.buttonsuser{
  display: flex;
  width: 35%;
  justify-content: space-between;
}